@import './animation.css';

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Digitalt';
  src: local('Digitalt'), url('../fonts/Digitalt/Digitalt.ttf') format('truetype');
}
